{% load static %}
<head xmlns:color="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<style>
body {
  background-image: url({% static 'assets/img/bgg.jpg' %});

}
</style>


  <!-- Favicons -->


  <!-- Google Fonts -->


  <!-- Vendor CSS Files -->


  <!-- Template Main CSS File -->

  <link href="{% static 'assets/css/nav.css' %}" rel="stylesheet">


<head>



<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
    <nav class="navbar navbar-dark bg-dark">
  <div class="container">

    <div class="navbar-menu">


 <ul class="navbar-nav">
           <li class="active"><a href="">CIPHERX</a></li>
 </ul>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active"><a href="/"><-BACK TO HOME</a></li>


      </ul>
    </div>
  </div>
</nav>
 <body background="assets/img/back.jpg">
 {% block body %}


 {% endblock %}

 </body>

